.product-detail {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: $space-m;

  &__description {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: $font-size-m;
    padding-bottom: $space-s;
  }

  &__variables {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__select-group {
    display: flex;
    align-items: center;
    gap: $space-s;
  }

  &__image {
    border-radius: $border-radius;
  }

  &__cart-message {
    animation: appear-then-fade 3s both;
    color: $color-text-muted;
  }

  @keyframes appear-then-fade {
    0%,
    100% {
      opacity: 0;
    }
    5%,
    60% {
      opacity: 1;
    }
  }

  @media (max-width: 50rem) {
    grid-template-columns: 1fr;

    &__image {
      justify-self: center;
    }
  }
}
