.product-detail {
  display: grid;
  grid-template-columns: 40% 1fr;
}

.product-detail__description {
  display: flex;
  justify-content: space-between;
}

.product-detail__variables {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product-detail__cart-message {
  animation: appear-then-fade 3s both;
}

@keyframes appear-then-fade {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  60% {
    opacity: 1;
  }
}
